# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  - main

pool:
  name: boschepoc

variables:
  name: python.version=3.10

steps:
  - task: PowerShell@2
    inputs:
      targetType: "inline"
      script: |
        # Write your PowerShell commands here.

        cd C:\Users\srahul\Documents\helloworldtest\flask-hello-world
        python -m venv venv    C:\Users\srahul\Documents\helloworldtest\flask-hello-world\venv\Scripts\Activate.ps1
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    displayName: "Install dependencies"

  - script: START /B python api.py > webapp.txt
    displayName: "run app.py"
